<!DOCTYPE html>
<html xmlns:th="http://www/thymleaf.org"
	xmlns:sec="http://www/thymleaf.org/thymleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0,minimum-scale=1.0">
<title>Home - ShopMe Admin</title>
<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
<link rel="stylesheet" type="text/css" th:href="@{/fontawsome/all.css}">
<link rel="stylesheet" type="text/css" th:href="@{/style.css}">


<script type="text/javascript" th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<div th:replace="navigation :: navigation"></div>
		<div>
			<h1>Manage Users</h1>
			<a th:href="@{/users/new}">Create New User</a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/csv}">Export to CSV</a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/excel}">Export to Excel</a>
			&nbsp;|&nbsp;
			<a th:href="@{/users/export/pdf}">Export to PDF</a>
		</div>

		<div th:if="${message != null}"
			class="alert alert-success text-center">[[${message}]]
		</div>
		
		<div>
			<form th:action="@{/users/page/1}" class="form-inline m-3">
				<input type="hidden" name="sortField" th:value="${sortField}" />
				<input type="hidden" name="sortOrder" th:value="${sortOrder}" />
				Filter&nbsp;
				<input type="search" name="keyword" th:value="${keyword}" class="form-control" required/>
				&nbsp;&nbsp;
				<input type="submit" value="Search" class="btn btn-primary m-2"/>
				&nbsp;&nbsp;
				<input type="button" value="Clear" class="btn btn-secondary m-2" onclick="clearFilter()"/>
			</form>
		</div>

		<div>
			<table
				class="table table-bordered table-striped table-hover table-responsive-xl">
				<thead class="thead-light text-center">
					<tr>
						<th th:replace="fragments :: column_link('id', 'User ID')"/>
						<th>Photos</th>
						<th th:replace="fragments :: column_link('firstName', 'First Name')"/>
						<th th:replace="fragments :: column_link('lastName', 'Last Name')"/>							
						<th>Email</th>
						<th>Roles</th>
						<th>Enable Status</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${listUser}">
						<td>[[${user.id}]]</td>
						<td><span class="fas fa-portrait fa-3x icon-dark"></span></td>
						<td>[[${user.firstName}]]</td>
						<td>[[${user.lastName}]]</td>
						<td>[[${user.email}]]</td>
						<td>[[${user.roles}]]</td>
						<td><a th:if="${user.enabled == true}"
							class="fas fa-check-circle fa-2x icon-green"
							th:href="@{'/users/' + ${user.id} + '/enabled/false'}"
							title="Disable this user"></a> <a
							th:if="${user.enabled == false}"
							class="fas fa-circle fa-2x icon-dark"
							th:href="@{'/users/' + ${user.id} + '/enabled/true'}"
							title="Enable this user"></a></td>

						<td><a class="fas fa-edit fa-2x icon-green"
							th:href="@{'/users/edit/' + ${user.id}}" title="Edit this user"></a>
							&nbsp; <a class="fas fa-trash fa-2x icon-dark link-delete"
							th:href="@{'/users/delete/' + ${user.id}}"
							title="Delete this user"></a></td>

					</tr>

				</tbody>
			</table>
		</div>

		<div class="text-center m-1" th:if="${totalItems > 0}" )>
			<span> Showing user # [[${startCount}]] to [[${endCount}]] of
				[[${totalItems}]]</span>
		</div>
		<div class="text-center m-1" th:unless="${totalItems > 0}" )>
			<span> No user found!!!</span>
		</div>

	<div th:if="${lastPage > 1}">
		<nav>
			<ul class="pagination justify-content-center">
				<li
					th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(1, 'First')"></a>
				</li>
				<li
					th:class="${currentPage > 1 ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
				</li>

				<li
					th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
					th:each="i : ${#numbers.sequence(1, lastPage)}">
					<a th:replace="fragments :: page_link(${i}, ${i})"></a>
				</li>

				<li
					th:class="${currentPage != lastPage ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
				</li>
				<li
					th:class="${currentPage != lastPage ? 'page-item' : 'page-item disabled'}">
					<a th:replace="fragments :: page_link(${lastPage}, 'Last')"></a>					
				</li>
			</ul>
		</nav>
	</div>
		<div class="text-center">
			<p>ShopMe Control Panel - Copyright &copy; ShopMe</p>
		</div>
	</div>
<script type="text/javascript">
		function clearFilter(){
			window.location = "[[@{/users}]]";
		}
</script>
<script type="text/javascript">
		$(document).ready(function (){
			$("#logoutLink").on("click", function(e){
				e.preventDefault();
				document.logoutForm.submit();
			});
		})
</script>
</body>
</html>